body {
  display: grid;
  grid-template-areas:
    "header header header"
    "aside-left main aside-right"
    "footer footer footer";
  grid-template-columns: 1fr 2fr 1fr;
  gap: 0px;
  text-align: center;
}

header {
  grid-area: header;
  background-color: #8d450a;
  padding: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 50px;
  
}

img {
  width: 160px;
  height: 160px;
  margin-left: 90px;
}

input {
  width: 150px;
}

aside:first-of-type {
  grid-area: aside-left;
  background-color: #978056;
  padding: 10px;
  text-align: left;
  font-size: large
  
}

aside:last-of-type {
  grid-area: aside-right;
  background-color: #978056;
  padding: 10px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

main {
  grid-area: main;
  background-color: #bd9c6a;
  padding: 10px;
  text-align: left;

}

footer {
  grid-area: footer;
  background-color: #8d490a;
  padding: 10px;
  color: white;
}

a {
    color: red;
    
}

.header2 {
  background-color: #978056;
  margin: 5px;
  font-size: 17px;
  color: black;
  text-align: center;
}