body { 
    background-color: #323232;
    
}

#header {
    background-color: #c141bf;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #ddd;
    margin-bottom: 20px;
    margin-left: 400px;
    margin-right: 400px;
    border-color: #000000;
    border-style: solid;
}
#nav {
    background-color: #089cfc;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #ddd;
    margin-bottom: 20px;
    margin-left: 400px;
    margin-right: 400px;
    border-color: #000000;
    border-style: solid;
}







#main {
    width: 61%;
    align-items: center;
    float: left;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 20px;
    background-color: #00fff2;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-color: #000000;
    border-style: solid;
    
}


#footer {
    background-color: #00fff2;
    text-align: center;
    padding-bottom: 25px;
    margin-top: 450px;
    border-color: #000000;
    border-style: solid;
    margin-left: 400px;
    margin-right: 400px;
    height: 20px;
}


